# Ignore virtual environment
venv/
env/
.venv/
.env/
.env
myvenv/
.env.example


# Ignore system files
__pycache__/
*.pyc
*.pyo
01_sensor_logger/__pycache__/

# Ignore IDE config files
.vscode/
.idea/

# Ignore large data files (if any)
*.log
*.sqlite3
*.csv

# ignore testing files 
test.py
